#define IDM_FILE_OPEN		40001
#define IDM_SHOW_NORMAL		40002
#define IDM_SHOW_STRETCH	40004
#define IDM_SHOW_ISOSTRETCH	40005
#define IDM_EDIT_COPY		40007
#define IDM_EDIT_CUT		40008
#define IDM_EDIT_DELETE		40009
#define IDM_FILE_SAVE		40010
#define VK_DELETE		2Eh
#define IDM_BRIGHTNESS_MORE	40011
#define IDM_BRIGHTNESS_LESS	40012

GraphicEditor MENU DISCARDABLE
{
    POPUP "&File"
        {
         MENUITEM "&Open...\tCtrl+O",	IDM_FILE_OPEN
	 MENUITEM SEPARATOR
         MENUITEM "&Save...\tCtrl+S",	IDM_FILE_SAVE
         }
    POPUP "&Edit"
	{
	 MENUITEM "Cu&t\tCtrl+X",	IDM_EDIT_CUT
	 MENUITEM "&Copy\tCtrl+C",	IDM_EDIT_COPY
	 MENUITEM "&Delete\tDelete",	IDM_EDIT_DELETE
	}
    POPUP "&Show"
	{
	 MENUITEM "&Actual Size",	IDM_SHOW_NORMAL, CHECKED
	 MENUITEM "&Stretch to Window",	IDM_SHOW_STRETCH
	 MENUITEM "Stretch Isotropically", IDM_SHOW_ISOSTRETCH
	}	
    POPUP "&Brightness"
	{
	 MENUITEM "More",	IDM_BRIGHTNESS_MORE
	 MENUITEM "Less",	IDM_BRIGHTNESS_LESS
	}
}

// Accelerator

GraphicEditor ACCELERATORS DISCARDABLE
{
"C",		IDM_EDIT_COPY,		VIRTKEY, CONTROL, NOINVERT
"O",		IDM_FILE_OPEN,		VIRTKEY, CONTROL, NOINVERT
"S",		IDM_FILE_SAVE,		VIRTKEY, CONTROL, NOINVERT
VK_DELETE,	IDM_EDIT_DELETE,	VIRTKEY, 	  NOINVERT
"X",		IDM_EDIT_CUT,		VIRTKEY, CONTROL, NOINVERT
}

